h1{
    font-weight: bold;
    color: rgb(255, 235, 59);
    display: flex;
    align-items: center;
    justify-content: center;
}

h2{
    font-weight: normal;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.discordEmplacement{
    display: flex;
    align-items: center;
    justify-content: center;
}

.youtubeLogo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.discord{
    border-radius: 12px !important;
    border: 0;
    color: white;
    padding: 10px 20px;
    width: 300px;
    height: 100px;
    margin: 4px 2px;
    cursor: pointer;
}

.discord img.btn-icon {
    width: 90px;
    height: 90px;
    margin-right: 10px;
    vertical-align: middle;
}

.discord span {
    display: inline-block;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 28px;
}

.youtube{
    border-radius: 12px !important;
    border: 0;
    color: white;
    width: 300px;
    height: 100px;
    padding: 10px 20px;
    margin: 4px 2px;
    cursor: pointer;
}

.youtube img.btn-icon2 {
    width: 90px;
    height: 90px;
    margin-right: 10px;
    vertical-align: middle;
}
.youtube span {
    display: inline-block;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 28px;
}

.version {
    justify-content: right;
    font-family: "Lucida Console", "Courier New", monospace;
    position: fixed;
    font-size: 20px;
    bottom: 0;
    left: 0;
    color: rgb(255, 235, 59);
    background: rgb(154, 59, 255);
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgb(154, 59, 255);
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 30px;
    width: 63px; /* Mettre à jour lorsque la version possède un caractère supplémentaire */
}

footer {
    padding: 30px 0;
    position: fixed;
    bottom: 0;
    border-radius: 12px;
    width: 90%;
}

.footer-menu {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.menu-button {
    background-color: rgb(154, 59, 255);
    color: rgb(255, 235, 59);
    font-family: "Lucida Console", "Courier New", monospace;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 0 20px rgb(154, 59, 255);
    transition: background-color 0.3s;
    margin: 0 10px;  
}

.menu-button:hover {
    background-color: rgb(72, 27, 121);
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(72, 27, 121);
}

.menu-button:active {
    background-color: rgb(154, 59, 255);
}

.container{
    width: 90%; 
    height: 90%;
    font-family: "Lucida Console", "Courier New", monospace;
    background-image: url("background.gif");
    margin: 0;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 100px rgb(154, 59, 255);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body{
    background: linear-gradient(#e66465, #fff700);
    background-image: url(background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}