h1{
    font-weight: bold;
    color: rgb(255, 235, 59);
    display: flex;
    align-items: center;
    justify-content: center;
}
.helas{
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}
.magiclogopng {
    width: 90px;
    height: 90px;
    margin-right: 10px;
    display: block;
    margin: 0 auto;
}

h2{
    font-weight: normal;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.linksh2 {
    animation: clignoter 1s infinite;
}

@keyframes clignoter {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.discordEmplacement{
    display: flex;
    align-items: center;
    justify-content: center;
}

.youtubeLogo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.discord{
    background-color: rgba(44, 44, 137, 0.91);
    box-shadow: 0 0 20px rgb(44, 44, 137);
    border-radius: 12px !important;
    border: 0;
    color: white;
    padding: 10px 20px;
    width: 300px;
    height: 100px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s ease-out, width 0.3s ease, height 0.3s ease, box-shadow 0.5s ease;
    margin-bottom: 25px;
}
.discord:hover {
    background-color: rgba(28, 28, 89, 0.91);
    box-shadow: 10px 10px 1px rgb(44, 44, 137);
    width: 330px;
    height: 110px;
}
.discord img.btn-icon {
    width: 90px;
    height: 90px;
    margin-right: 10px;
    vertical-align: middle;
    transition: width 0.3s ease, height 0.3s ease;
}
.discord:hover img.btn-icon {
    width: 100px;
    height: 100px;
}

.discord span {
    display: inline-block;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 28px;
}

.youtube{
    background-color: rgba(148, 18, 18, 0.906);
    box-shadow: 0 0 20px rgb(148, 18, 18);
    border-radius: 12px !important;
    border: 0;
    color: white;
    width: 300px;
    height: 100px;
    padding: 10px 20px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s ease-out, width 0.3s ease, height 0.3s ease, box-shadow 0.5s ease;
    margin-bottom: 25px;
}
.youtube:hover {
    background-color: rgba(88, 11, 11, 0.906);
    box-shadow: 10px 10px 1px rgb(148, 18, 18);
    width: 330px;
    height: 110px;
}

.youtube img.btn-icon2 {
    width: 90px;
    height: 90px;
    margin-right: 10px;
    vertical-align: middle;
    transition: width 0.3s ease, height 0.3s ease;
}
.youtube:hover img.btn-icon2 {
    width: 100px;
    height: 100px;
}

.youtube span {
    display: inline-block;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 28px;
}

.version {
    justify-content: right;
    font-family: "Lucida Console", "Courier New", monospace;
    position: fixed;
    font-size: 20px;
    color: rgb(255, 235, 59);
    background: rgb(154, 59, 255);
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgb(154, 59, 255);
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 30px;
    width: 63px; /* Mettre à jour lorsque la version possède un caractère supplémentaire */
}

footer {
    padding: 30px 0;
    position: fixed;
    bottom: 0;
    border-radius: 12px;
    width: 90%;
}

.footer-menu {
    display: flex;
    gap: 40px;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .footer-menu {
        gap: 18px; /* Boutons du menu ajustés pour téléphone */
    }
    .version{
        height: 15px;
        width: 32px; /* Mettre à jour lorsque la version possède un caractère supplémentaire #TELEPHONE# */
        font-size: 10px; /* idem */
        justify-content: right;
        font-family: "Lucida Console", "Courier New", monospace;
        position: fixed;
        color: rgb(255, 235, 59);
        background: rgb(154, 59, 255);
        border-radius: 20px;
        box-shadow: 0px 0px 20px rgb(154, 59, 255);
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
    }
}

.menu-button {
    background-color: rgb(154, 59, 255);
    color: rgb(255, 235, 59);
    font-family: "Lucida Console", "Courier New", monospace;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 0 20px rgb(154, 59, 255);
    transition: background-color 0.3s, font-size 0.3s, border-radius 0.2s ease, border 0.3s ease, box-shadow 0.5s ease;
    margin: 0 10px;  
}

.menu-button:hover {
    background-color: rgb(72, 27, 121);
    border-radius: 25px;
    box-shadow: 4px 4px 1px rgb(38, 14, 63);
    font-size: 18px;
}

.menu-button:active {
    background-color: rgb(154, 59, 255);
}

.container{
    width: 90%; 
    height: 90%;
    font-family: "Lucida Console", "Courier New", monospace;
    background-image: url("background.gif");
    margin: 0;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 100px rgb(154, 59, 255);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body{
    background: linear-gradient(#e66465, #fff700);
    background-image: url(background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}